<div class="row">
  <div class="col-md-2">
    <br />
    <br />
    <br />
    <div class="custom-sidebar">
      <ul class="navbar-nav mr-auto">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li *ngIf="authGServ.loggedStatus">
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li *ngIf="authGServ.loggedStatus"><a routerLink="/cart" routerLinkActive="active">Cart</a></li>

        <li *ngIf="!authGServ.loggedStatus">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="authGServ.loggedStatus">
          <span id="logout" (click)="logout()">Logout</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
